{
  "parser": "@typescript-eslint/parser",
  "extends": [
	"eslint:recommended",
	"plugin:react/recommended",
	"plugin:@typescript-eslint/recommended",
	"airbnb",
	"plugin:import/typescript"
  ],
  "plugins": [
	"react",
	"react-hooks",
	"@typescript-eslint"
  ],
  "env": {
	"browser": true,
	"es2021": true
  },
  "settings": {
	"react": {
	  "version": "detect"
	}
  },
  "rules": {
	"react/jsx-filename-extension": [1, { "extensions": [".tsx", ".ts"] }],
	"no-tabs": 1,
 	// Add custom rules here
  }
}