.header {
    text-align: center;
}

.recipe-category-container {
    display: flex;
    flex-direction: column;
}

.recipe-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
}

@media (min-width: 900px) {
    .recipe-category-container {
        flex-direction: column;
    }

    .recipe-container {
        display: flex;
        align-items: start;
        justify-content: center;
        flex-direction: row;
        background-color: white;
    }
}

.recipe-card-container {
    width: 246px;
    margin: 1em;
}


.frozen-recipes-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;

    h3 {
        text-align: center;
    }
}